/*
    Spanish
*/

body
  background offwhite

.dictionary-grid, .word-detail
  display flex
  flex-wrap wrap
  max-width 1240px
  margin 0 auto

.word, .box
  flex-basis calc(33.333% - 4rem)
  flex-grow 1
  flex-shrink 0
  margin 0 2rem 2rem 2rem
  padding 3rem 2rem 2rem
  border 1px solid lightgray
  background white
  box-shadow 0 0 0 5px rgba(0,0,0,0.03);
  position relative
  font-size 13px
  position relative

  .meaning
    display block
    border-bottom 1px solid lightgray
    padding 10px 0
    strong
        padding-right 20px
  .lnr
    font-size 20px
    padding-right 15px
    text-decoration none
    &:hover
      color blue
    
  .word-control  
    float right
    position  absolute
    top 15px
    right 10px
    a
       text-decoration none
       color #000
       &:hover
         text-decoration none


.word-detail

  .word, .box
    font-size:16px

      




